<tui-doc-main>
    <ng-container ngProjectAs="tuiDocHeader">
        <a
            href="https://github.com/taiga-family/maskito"
            iconLeft="assets/icons/github.svg"
            rel="noreferrer"
            target="_blank"
            title="Maskito source code on GitHub"
            tuiLink
            tuiMode="onLight"
            class="link"
        ></a>

        <a
            href="https://t.me/taiga_ui/10600"
            iconLeft="assets/icons/telegram.svg"
            rel="noreferrer"
            target="_blank"
            title="Get help on Telegram"
            tuiLink
            tuiMode="onLight"
            class="link"
        ></a>

        <a
            iconLeft="assets/icons/stackblitz.svg"
            title="Maskito StackBlitz Starter"
            tuiLink
            tuiMode="onLight"
            class="link"
            [routerLink]="stackblitzStarterPath"
        ></a>
    </ng-container>
</tui-doc-main>
