@import '@taiga-ui/styles/utils.less';

:host {
    display: block;
    font: var(--tui-typography-body-m);
    color: var(--tui-text-primary);
}

.action {
    &[tuiLink] {
        margin-inline-start: 1rem;
    }

    &[tuiIconButton] {
        margin-inline-start: 0.75rem;
    }
}
