@import '@taiga-ui/core/styles/taiga-ui-local.less';

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    @media @tui-mobile {
        flex-direction: column;
    }

    & [tuiCardLarge] {
        flex: 1;
        min-width: 14rem;

        @media @tui-desktop-min {
            max-width: 40%;
        }
    }
}
