:host {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block-start: 2rem;
}

form {
    inline-size: 80%;
    max-inline-size: 40rem;
}

.password-icon {
    pointer-events: all;
    cursor: pointer;
}
