@import '@taiga-ui/core/styles/taiga-ui-local.less';

body {
    margin: 0;
}

html,
body {
    .scroll-behavior();
    height: 100%;

    @media (prefers-reduced-motion) {
        scroll-behavior: auto;
    }
}

html {
    color-scheme: light;
}

[data-mode='onDark'] {
    color-scheme: dark;
}

markdown {
    li li {
        // nested list
        color: var(--tui-text-secondary);

        &:before {
            content: '\2014';
            left: 0;
            top: auto;
            width: auto;
            height: auto;
            background-color: transparent;
        }
    }
}
