@import '@taiga-ui/core/styles/taiga-ui-local.less';

body {
    margin: 0;
}

html,
body {
    scroll-behavior: var(--tui-scroll-behavior);
    block-size: 100%;

    @media (prefers-reduced-motion) {
        scroll-behavior: auto;
    }
}

html {
    color-scheme: light;
}

[tuiTheme='dark'] {
    color-scheme: dark;
}

markdown {
    li li {
        // nested list
        color: var(--tui-text-secondary);

        &::before {
            content: '\2014';
            inset-inline-start: 0;
            inset-block-start: auto;
            inline-size: auto;
            block-size: auto;
            background-color: transparent;
        }
    }
}
