@import '@taiga-ui/styles/utils.less';

:host {
    @media @tui-mobile {
        font-size: 0;
    }
}

.t-link {
    display: flex;
    gap: 0.5rem;
    color: var(--tui-text-primary);
    text-decoration: none;
}

.t-logo {
    inline-size: 1.5rem;
}
