<tui-doc-page
    header="<MASK OPTIONS GENERATOR>"
    package="KIT"
>
    <ng-template pageTab>
        This would be the content of a first tab

        <tui-doc-example
            id="basic"
            heading="Basic usage"
        >
            TODO
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="apiPageControl">
            <ng-template>
                <tui-input [formControl]="apiPageControl">
                    Try it
                    <!-- Put your mask here -->
                    <input
                        tuiTextfield
                        [maskito]="maskitoOptions"
                    />
                </tui-input>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="<your-generator-option>"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="generatorOption"
            >
                Your generator option description
            </ng-template>
        </tui-doc-documentation>
    </ng-template>
</tui-doc-page>
