name: Deploy
on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: taiga-family/ci/actions/setup/checkout@v1.44.5
      - uses: taiga-family/ci/actions/setup/node@v1.44.5
      - run: npx nx build-gh-pages
      - uses: JamesIves/github-pages-deploy-action@v4.5.0
        with:
          branch: gh-pages
          folder: dist/demo/browser
          silent: false
          clean: true

concurrency:
  group: deploy-${{ github.head_ref }}
  cancel-in-progress: true
